# Q-1 Display Grading

In [5]:
marks = int(input("Enter the marks : "))
if marks > 90:
    print("A")
elif marks > 80:
    print("B")
elif marks >= 60 :
    print("C")
else:
    print("D")

Enter the marks :  30

D

# Q-2 Road Tax of bike

In [11]:
cost_price = int(input("Enter the cost price of bike : "))
if cost_price > 100000:
    tax_price = 0.15*cost_price
    print("Tax to be paid :{}".format(tax_price))
elif cost_price > 50000:
    tax_price = 0.1*cost_price
    print("Tax to be paid : {}".format(tax_price))
else :
    tax_price = 0.05*cost_price
    print("Tax to be paid : {}".format(tax_price))

Enter the cost price of bike :  120000

Tax to be paid :18000.0

# Q-3 Monuments of the City

In [14]:
city_name = input("Enter the city name : ")
if city_name == "Delhi":
    print("Red Fort")
if city_name == "Agra":
    print("Taj Mahal")
if city_name == "Jaipur":
    print("Jal Mahal")

Enter the city name :  Delhi

Red Fort

# Q-4 check how many times a given number can be divided by 3 before it is less than or equal to 10

In [4]:
num = int(input("Enter a number: "))
count = 0
while num > 10:
    num = num / 3
    count += 1
print(count)

Enter a number:  20

1

# Q-5 Why and when to use while loop in Python give a detailed description with example

## Ans- The while loop in Python is used when we want to repeatedly execute a block of code as long as a certain condition remains true. It allows us to create loops that continue until the specified condition is no longer satisfied.

## while loops are useful when we don't know in advance how many times the loop needs to be executed. The loop will continue until the condition is no longer true, allowing for dynamic and flexible iteration.

In [6]:
# Example
n = 10
while n > 0:
    print(n)
    n -= 1

10
9
8
7
6
5
4
3
2
1

# Q-6 using nested while loop, printing 3 different pattern

* 1- Tringle pattern

In [14]:
row = 1
while row <= 10:
    col = 1
    while col <= row:
        print("*",end=" ")
        col += 1
    print()
    row += 1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

* 2- Square Pattern

In [13]:
row = 1
while row <= 5:
    col = 1
    while col <= 5:
        print("*",end=" ")
        col += 1
    print()
    row += 1

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

* 3- Pyramid Pattern

In [ ]:
row = 1
while row <= 10:
    space = 10 - row
    while space > 0:
        print(" ",end=" ")
        space -= 1
        
    star = 1
    while star <= (2 * row - 1):
        print("*",end=" ")
        star += 1
        
    print()
    row += 1

# Q-7 reverse a while loop to display numbers from 10 to 1

In [27]:
num = 10
while num >=1 :
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

# Q-8 reverse a while loop to display numbers from 10 to 1

In [28]:
num = 10
while num >=1 :
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1